* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    display: grid;
    /* width: 600px; */
    /* height: 300px; */
    /* border: 2px solid black; */
    padding: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 6fr;
    gap: 10px 10px;

    
}

.container .item {
    /* width: 100px; */
    padding: 30px;
    /* height: 50px; */
    text-align: center;
    background-color: aqua;
    border: 4px solid blue;
}

.item1 {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    
    /* Shortcut for above code */
    grid-column: 1 / 3;
}

.item6 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item8 {
    grid-column-start: 1;
    grid-column-end: 4;
}