body{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

header, nav, section, article, aside, footer {
    background-color: aliceblue;
    border: 2px solid purple;
    text-align: center;
    padding: 20px;
    }

.container{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.middle{
    display: flex;
    gap: 5px;
    }

.left{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 3px;
    }

aside{
     flex: 1;
    }

h1{
    font-size: 130px;
    color: blueviolet;
    background-color: lightpink;
}

h1{
    font-size: 130px;
    color: blueviolet;
    background-color: lightpink;
}
    